html{
    height: 100%;
}

body {
    background-color: #D5E1EF;
    padding-top: 152px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 320px;
}

.card__image{
    border-radius: 8%;
    padding: 16px;
}

.card__text{
    
    display: flex;
    flex-direction: column;
    
    font-family: 'Outfit', sans-serif;
    text-align: center;
    line-height: 1.25;

    padding: 8px 32px 40px;
}

.card__title{
    
    color: hsl(218, 44%, 22%);
    font-size: large;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1px;
}

.card__description {

    font-size: 15px;
    letter-spacing: 0.2px;
    color: hsl(220, 15%, 55%);

    padding-top: 16px;
}